
   .parentdiv123{
     height: auto;
     width: auto;
     display: flex;
     align-items: center;
     justify-content: center;
   }
   
   .div1233{
     max-width: 650px;
     margin: 0 auto;
     position: relative;
     margin-top: 2rem;
   
   
   }
   .pic{

    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    
   }
   h1{
     font-family: 'Lexend', sans-serif;
   }
   p{
     font-family: 'Lexend', sans-serif;
   }
   @media (max-width: 600px) {
    .pic{
      margin-left: 35px;
    }

    
   }