
  
  .parentdiv11{
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .div111{
   max-width: 650px;
  margin: 0 auto;
  position: relative;
  margin-top: 2rem;
  }
  
  h1{
    font-family: 'Lexend', sans-serif;
  }
  p{
    font-family: 'Lexend', sans-serif;
  }
 
  @media (max-width: 600px) {
        .proj{
          margin-top: 2.5rem;
        }
    }